{{define "page:title"}}Польсько-українська студія дизайну Luxury Design{{end}}

{{define "page:main"}}

<div class="common-background-main">
<div class="body-text">
<h1>ПРО НАС</h1>
<br>
<br>
Проект "Luxury Design" - це понад 10 років досвіду на широкому ринку преміум та суперпреміум. Наша студія дизайну - польсько-українська, виконує проекти по всій Польщі та Європі.
<br>
<br>
Бренд створений для найвимогливіших клієнтів та шанувальників високоякісного дизайну. Кілька сотень тисяч продуктів безпосередньо від виробників дозволяє гармонійний підхід до оформлення та декорування приміщення. У широкому асортименті та в одному місці ви знайдете кожен елемент розкішного обладнання. Ми займаємося всім процесом оздоблення внутрішнього простору, від ідеї до втілення найзахоплюючіших та ексклюзивних проектів.
<br>
<br>
Маючи величезну продуктову базу від наших брендів, ми можемо остаточно зекономити на всьому процесі обладнання будинку чи квартири. Так, оскільки ми маємо в своєму портфелі абсолютно все, що потрібно для таких втілень. Усі меблі, аксесуари, освітлення, матеріали та декорації ми імпортуємо незалежно з фабрик та майстерень, що дає перевагу у вигляді ціни. Це в середньому декілька відсотків усього проекту, отже, значні кошти, які можна використовувати для інших цілей.

</div>
</div>

{{end}}

{{define "page:main-one"}}
        <div class="main-one">
            <img src='/static/img/main-one.jpeg' id="main-one-image" />
        </div>
{{end}}

{{define "page:main-two"}}
        <div class="main-two">
            <img src='/static/img/main-two.jpeg' id="main-two-image" />
        </div>
{{end}}

{{define "page:main-three"}}
        <div class="main-three">
            <img src='/static/img/main-three.jpeg' id="main-three-image" />
        </div>
{{end}}

{{define "page:main-four"}}
        <div class="main-four">
            <h3>НАША КОМАНДА</h3>
            <img src='/static/img/main-four.jpg' id="main-four-image" />
        </div>
{{end}}